body {
  background-color: #90f6d7;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  place-content: center;
}

#container {
  font-family: "Press Start 2P", cursive;
  border: 2px solid #41506b;
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.header {
  font-size: 2rem;
}

#output-text {
  text-align: center;
  font-weight: 200;
  font-size: 1.3rem;
}

input.user-input {
  padding: 0.5rem;
  border: 2px solid #41506b;
  border-radius: 10px;
}

input.user-input:hover {
  border: 2px solid aqua;
  transition: border 1s;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#enter-btn {
  --b: 2px; /* border thickness */
  --s: 0.4em; /* size of the corner */
  --c: #41506b;

  padding: calc(0.05em + var(--s)) calc(0.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--c) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.2em;
}
#enter-btn:hover,
#enter-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: 0.05em;
}
#enter-btn:active {
  background: var(--c);
  color: #fff;
}

#enter-btn {
  font-family: 'Press Start 2P', cursive;;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin: 0.4em;
  padding: 1rem;
}



.my-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

my-info{
    display: grid;
}




